body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  /* Background image */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('https://t4.ftcdn.net/jpg/04/97/80/99/360_F_497809944_FMo3DO6j7XSlb9rZKOlnqaaWoJhuZXBm.jpg');
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.weather-info-container {
  background-color: rgba(240, 240, 240, 0.8); /* Adjust alpha value (0.8) for transparency */
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.error-message {
  color: red;
}

.forecast-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.forecast-table th,
.forecast-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.forecast-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}
